@import '../../bower_components/bootstrap-sass/lib/bootstrap.scss'
@import 'monosocialiconsfont.scss'

$blue-top:			#d3e9ef
$blue-bottom:		darken(#95c3dd, 20%)
$blue-container:	#d5e8f1
$blue-heading:		#0095de
$gray-text: 		#555555
$gray-rule: 		#aaaaaa
$green-social:		#76bd1d

$fruit-passion:		#d58634
$fruit-guava:		#e9a26f
$fruit-cherry:		#c04233
$fruit-star:		#e48a39

$nav-height: 		63px
$column-width: 		930px
$margin: 			100px

$text-xl:			26px
$text-lg:			20px
$text-md:			16px
$text-sm:			14px

html, body
	width: 100%
	height: 100%
	overflow-x: hidden

body
	color: $gray-text
	margin: 0
	padding: $nav-height 0 $margin
	position: relative
	font-size: $text-md

	background: $blue-top /* Old browsers */
	background: -moz-linear-gradient(top, $blue-top $nav-height, $blue-bottom 100%) /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $blue-top), color-stop(100%, $blue-bottom)) /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, $blue-top $nav-height, $blue-bottom 100%) /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, $blue-top $nav-height, $blue-bottom 100%) /* Opera 11.10+ */
	background: -ms-linear-gradient(top, $blue-top $nav-height, $blue-bottom 100%) /* IE10+ */
	background: linear-gradient(to bottom, $blue-top $nav-height, $blue-bottom 100%) /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$blue-top', endColorstr='$blue-bottom',GradientType=0 ) /* IE6-9 */

body, h2, h4
	font-family: "proxima-nova", sans-serif

h2
	text-transform: uppercase
	font-size: $text-xl
	font-weight: 700
	color: $blue-heading
	text-align: center
	letter-spacing: 2px
	margin: 0 0 $margin / 4

nav
	position: fixed
	right: 0
	&#nav
		left: 0
		top: 0
		height: $nav-height
		background-color: $blue-top
		z-index: 20

		div
			overflow: hidden
			margin: 0 auto
			border-bottom: 1px solid $gray-rule
			width: $column-width
			a
				height: $nav-height - 1
				line-height: $nav-height
				width: 25%
				float: left
				text-align: center
				font-size: $text-md
				font-weight: 700
				padding: 0 10px
				text-transform: uppercase
				color: $gray-text
				letter-spacing: 2px

	&#social
		background-color: $green-social
		list-style: none
		padding: 10px 0 10px 10px
		margin: -120px 0 0 0
		top: 50%
		height: 237px
		width: 52px
		box-shadow: -4px 4px 10px 0px rgba(50, 50, 50, 0.2)

		a.symbol
			background-color: inherit
			color: white
			font-size: 50px
			padding: 0
			&:before
				margin: 0
				font-size: inherit
			&:hover
				text-decoration: none

div.backing
	background-color: $blue-container
	padding: $margin / 2 $margin
	width: $column-width + ($margin * 2)
	margin: 0 auto $margin / 2

section
	width: $column-width
	margin: 0 auto $margin
	position: relative

	a.anchor
		position: absolute
		top: -#{$nav-height * 1.5}
	
	&.logo
		img
			margin: 100px auto
	
	&.bottles
		ul
			list-style-type: none
			overflow: auto
			padding: 0 $margin
			li
				width: 25%
				float: left
				text-align: center
	&.about
		p
			margin: 0 $margin / 2 $margin / 4
			font-size: $text-lg

	&.carousel
		height: 440px
		.item
			width: 100%
			img
				width: 100%
				height: 440px
		ol.carousel-indicators
			bottom: -50px

	&.flavors, &.where
		ul
			list-style-type: none
			font-size: $text-md
			overflow: auto

			li
				padding: 0 50px
				width: 50%
				float: left


	&.flavors
		margin-bottom: 0
		h4
			text-transform: uppercase
			font-size: $text-sm
			font-weight: 700
			letter-spacing: 1px
			margin-bottom: 6px
		ul
			li
				background-repeat: no-repeat
				height: 200px
				&.passion
					background-image: url(/assets/img/fruit/passion.png)
					h4
						color: $fruit-passion
				&.guava
					background-image: url(/assets/img/fruit/guava.png)
					h4
						color: $fruit-guava
				&.cherry
					background-image: url(/assets/img/fruit/cherry.png)
					h4
						color: $fruit-cherry
				&.star
					background-image: url(/assets/img/fruit/star.png)
					h4
						color: $fruit-star


	&.where
		ul

			li
				font-size: $text-lg

	&.contact
		text-align: center
		margin-bottom: 0
		font-size: $text-lg
		a
			color: $gray-text

	&.newsletter
		padding-bottom: $margin

		h2
			font-size: $text-lg
			color: $gray-text
		p
			text-transform: uppercase
			font-size: $text-md
			text-align: center
			margin: 0 auto 20px

		form
			width: 500px
			margin: 0 auto

		input
			border: 1px solid $gray-text
			color: $gray-text
			background-color: transparent
			font-size: $text-lg
			padding: 4px 10px
			text-align: right
			margin: 0
			&[type=email]
				width: 69%
				margin-right: 5%
			&[type=submit]
				text-transform: uppercase
				width: 25%
				text-align: center
			&:focus
				outline: 0
				background-color: $blue-top