@import '../../bower_components/bootstrap-sass/lib/bootstrap.scss'
@import 'monosocialiconsfont.scss'

$color-top:			#D3E9Ef
$color-bottom:		#4897C4
$color-container:	#D5E8f1
$color-heading:		#0095DE
$color-link:		#00A1DF
$color-link-hover:	#FF7936
$color-text: 		#555555
$color-social:		#F8F0D1
$color-newsletter:	#72BB59
$color-passion:		#FFB100
$color-guava:		#FF4056
$color-cherry:		#C04233
$color-star:		#F27300
$color-aloe:		#54B247

$nav-height: 		90px
$nav-line-height: 	120px
$column-width: 		930px
$margin: 			100px

$social-link-size:	47px
$social-padding:	18px
$social-border:		2px
$social-width:		$social-link-size + ($social-padding * 2)
$social-height:		($social-link-size * 3) + $social-padding + ($social-border * 2)

$text-xl:			26px
$text-lg:			20px
$text-md:			16px
$text-sm:			14px

html, body
	min-height: 100%

body
	color: $color-text
	margin: 0
	padding: $nav-height 0 200px
	position: relative
	font-size: $text-md

	background: $color-top /* Old browsers */
	background: -moz-linear-gradient(top, $color-top $nav-height, $color-bottom 100%) /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $color-top), color-stop(100%, $color-bottom)) /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, $color-top $nav-height, $color-bottom 100%) /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, $color-top $nav-height, $color-bottom 100%) /* Opera 11.10+ */
	background: -ms-linear-gradient(top, $color-top $nav-height, $color-bottom 100%) /* IE10+ */
	background: linear-gradient(to bottom, $color-top $nav-height, $color-bottom 100%) /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color-top', endColorstr='$color-bottom',GradientType=0 ) /* IE6-9 */

body, h2, h4
	font-family: "proxima-nova", sans-serif

h2
	text-transform: uppercase
	font-size: $text-xl
	font-weight: 700
	color: $color-heading
	text-align: center
	letter-spacing: 2px
	margin: 0 0 $margin / 4

nav
	position: fixed
	right: 0
	&#nav
		left: 0
		top: 0
		height: $nav-height
		background-color: $color-top
		z-index: 20
		text-align: center

		a
			height: $nav-height - 1
			line-height: $nav-line-height
			font-size: $text-md
			padding: 0 51px
			text-transform: uppercase
			color: $color-link
			letter-spacing: 2px
			&:hover
				color: $color-link-hover
				text-decoration: none
			&:first-child
				padding-left: 0
			&:last-child
				padding-right: 0

	&#social
		background-color: $color-social
		list-style: none
		padding: $social-padding / 2 $social-padding
		margin: -#{$social-height / 2} 0 0 0
		top: 50%
		height: $social-height
		width: $social-width
		border-radius: $social-padding 0 0 $social-padding
		box-shadow: -4px 4px 10px 0px rgba(50, 50, 50, 0.2)

		a.symbol
			background-color: inherit
			color: $color-link
			font-size: 50px
			padding: 0
			width: $social-link-size
			height: $social-link-size
			line-height: $social-link-size
			display: block
			border-top: $social-border dotted $color-link
			text-align: center
			&:first-child
				border-top: 0
			&:before
				margin: 0
				font-size: inherit
			&:hover
				text-decoration: none
				color: $color-link-hover

section
	position: relative
	padding-top: $margin / 2
	padding-bottom: $margin / 2

	a.anchor
		position: absolute
		top: -#{$nav-height * 1.5}
	
	&.logo
		img
			margin: 40px auto
	
	&.bottles
		ul
			list-style-type: none
			overflow: auto
			padding: 0 $margin
			width: 918px
			margin: 0 auto

			li
				width: 25%
				float: left
				text-align: center
	&.about
		padding-top: $margin
		background-color: $color-container
		p
			margin: 0 40px $margin / 4
			font-size: $text-lg

	&.images
		background-color: $color-container
		padding-top: 0

		.frame
			background-color: white
			padding: 15px
			margin: 0 40px

		.item
			img
				width: 100%
				height: 440px

		ol.carousel-indicators
			bottom: -50px

	&.flavors, &.where
		background-color: $color-container
		ul
			list-style-type: none
			font-size: $text-md
			overflow: auto

			li
				padding: 0 50px
				width: 50%
				float: left


	&.flavors
		margin-bottom: 0
		h4
			text-transform: uppercase
			font-size: $text-sm
			font-weight: 700
			letter-spacing: 1px
			margin-bottom: 6px
		ul
			padding: 0
			li
				background-repeat: no-repeat
				background-size: 38px auto
				height: 180px
				background-position: 0 10px
				&.passion
					background-image: url(/assets/img/fruit/passion.svg)
					h4
						color: $color-passion
				&.guava
					background-image: url(/assets/img/fruit/guava.svg)
					h4
						color: $color-guava
				&.cherry
					background-image: url(/assets/img/fruit/cherry.svg)
					h4
						color: $color-cherry
				&.star
					background-image: url(/assets/img/fruit/star.svg)
					h4
						color: $color-star
				&.aloe
					background-image: url(/assets/img/fruit/aloe.svg)
					width: 100%
					height: auto
					background-size: 43px auto
					h4
						color: $color-aloe


	&.where
		ul
			padding: 0
			li
				font-size: $text-lg

	&.contact
		padding-bottom: $margin
		background-color: $color-container
		text-align: center
		font-size: $text-lg
		a
			color: $color-text

	&.newsletter
		background-color: $color-newsletter

		h2
			color: white

		p
			font-size: $text-md
			text-align: center
			margin: 0 auto 20px

		form
			width: 500px
			margin: 0 auto

		input
			border: 1px solid white
			color: $color-text
			background-color: white
			font-size: $text-lg
			padding: 4px 10px
			text-align: right
			margin: 0
			&[type=email]
				width: 69%
				margin-right: 5%
			&[type=submit]
				text-transform: uppercase
				width: 25%
				text-align: center
			&:focus
				outline: 0
				background-color: $color-top